.additional-list {
  list-style: none;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .additional-list__item {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-auto-rows: 45px;
  }

}

@media (min-width: $desktop-width) {
  .additional-list__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    }
}
