.additional-item--name {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.additional-item--mass,
.additional-item--price {
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $grey-main;
}

@media (min-width: $tablet-width) {

  .additional-item--name {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0;
  }

  .additional-item--mass {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0;
  }

  .additional-item--price {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
