.additional-list {
  list-style: none;
  width: 100%;
}

.additional-list__item {
  padding-bottom: 19px;
  border-bottom: 1px solid #dcdcdc;
}

@media (min-width: $tablet-width) {
  .additional-list__item {
    width: 632px;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-auto-rows: 45px;
    padding-top: 26px;
    padding-bottom: 28px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .additional-list__item {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    padding: 0;
    align-items: center;
  }
}
