.additional-products {
  @include center;
  width: 100%;
  margin-bottom: 43px;
  position: relative;
}

.additional-products::before {
  content:"";
  width: 100%;
  height: 2px;
  background-color: #68b738;
  position: absolute;
  z-index: -10;
}

.additional-products__button-name:active {
  opacity: 0.3;
}

.additional-products__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  position: relative;
  margin: 0;
  margin-top: -21px;
  padding-bottom: 36px;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  padding-right: 21px;
}

.additional-products__list {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgb(205, 205, 205);
  border-bottom: 1px solid rgb(205, 205, 205);
  margin-bottom: 35px;
  width: fit-content;
}

.additional-products__gift {
  min-height: 290px;
  background-image: url("../img/catalog-gift.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #ffffff;
  font-family: $lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 280px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog-gift@2x.jpg");
  }
}

.additional-products__gift-slogan {
  margin: 0;
  padding-top: 195px;
  position: relative;
}

.additional-products__gift-slogan::before {
  content: "";
  background-image: url("../img/icon-gift.svg");
  background-size: cover;
  width: 78px;
  height: 80px;
  position: absolute;
  top: 59px;
  left: 100px;
}


@media (min-width: $tablet-width) {
  .additional-products__list {
    border-top: none;
    margin-bottom: 69px;
  }

  .additional-products__wrapper {
    margin: 0 auto;
    border: 1px solid #CDCDCD;
  }

  .additional-products::before {
    left: 0;
  }

  .additional-products__button {
    display: block;
    width: 632px;
    min-height: 40px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0 auto;
  }

  .additional-products__title {
    font-size: 36px;
    line-height: 36px;
    padding-right: 36px;
    padding-left: 36px;
    border-bottom: none;
    padding-bottom: 80px;
  }

  .additional-products__link {
    display: block;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .additional-products__gift {
    min-height: 200px;
    width: 708px;
  }

  .additional-products {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .additional-products__gift-slogan::before {
    width: 80px;
    height: 82px;
    left: -344px;
    top: -23%;
  }

  .additional-products__gift-slogan {
    margin-top: 71px;
    margin-left: 422px;
    font-size: 16px;
    line-height: 20px;
    width: 161px;
    padding: 0;
    text-align: initial;
  }
}


@media (min-width: $desktop-width) {
  .additional-products__list {
    display: flex;
    flex-direction: column;
    min-height: 288px;
  }

  .additional-products__wrapper {
    width: 100%;
    padding: 0;
    border: none;
  }

  .additional-products {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .additional-products__gift {
    width: 245px;
    height: 288px;
    margin-left: 80px;
  }

  .additional-products__button {
    display: block;
    width: 244px;
    min-height: 40px;
    margin: 0;
  }

  .additional-products__title {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 0;
  }

  .additional-products__gift-slogan {
    margin-left: 40px;
    margin-bottom: 42px;
    margin-top: 184px;
    text-align: center;
  }

  .additional-products__gift-slogan::before {
    left: 47px;
    top: -254%;
  }
}
