.button-primary {
  background-color: rgb(104, 183, 56);
  color: $white;
  width: 280px;
  min-height: 40px;
  font-family: $oswald, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 8px 44px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.button-primary:hover {
  background-color: $green-bright;
}

.button-primary:active {
  background: $green-bright;
}
