.button-primary {
  background-color: rgb(104, 183, 56);
  color: #ffffff;
  width: 280px;
  min-height: 40px;
  font-family: $oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 8px 44px;
  border: none;
  text-align: center;
  text-transform: uppercase;
}
