.button-primary {
  background-color: rgb(104, 183, 56);
  color: #ffffff;
  width: 420px;
  min-height: 60px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  padding: 12px 66px;
  border: none;
  text-align: center;
}
