.button-secondary {
  background-color: rgb(104, 183, 56);
  color: $white;
  width: 280px;
  min-height: 40px;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 7px;
  padding-top: 7px;
  border: none;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
}

.button-secondary:hover {
  background-color: $green-bright;
}

.button-secondary:active {
  background: $green-bright;
}


.button-secondary--grey {
  background-color: $white-mix;
  color: $grey-main;
  width: 280px;
  min-height: 40px;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 10px;
  border: none;
  text-align: center;
  cursor: pointer;
}

.button-secondary--grey:hover {
  background-color: $duty-white;
}

.button-secondary--grey:active {
  background-color: $duty-white;
}
