.catalog-gift {
  @include center;
  width: 280px;
  min-height: 290px;
  background-image: url("../img/catalog-gift.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #ffffff;
  font-family: $lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
