.collaboration {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.collaboration__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.collaboration__address {
  font-family: $lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .collaboration {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 56px 40px;
  box-sizing: border-box;
  }

  .collaboration__title {
    font-family: $oswald;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #111111;
  }

  .collaboration__address {
    font-family: $lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $grey-main;
    text-decoration: none;
  }
}
