.features {
  @include center;
  width: 320px;
  min-height: 570px;
}

.features__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.features__list {
  margin: 0;
  padding: 0;
}
