.features__wrapper {
  padding: 0 20px;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 20px;
}

.features__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
}

.features__list {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .features__wrapper {
    padding: 0 30px;
    width: 768px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 15px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .features__title {
    font-family: $oswald;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}

@media (min-width: $desktop-width) {
  .features__wrapper {
    padding: 0 55px;
    width: 1330px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .features__title {
    font-family: $oswald;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}
