.form-checkbox {
  border: none;
  padding: 0;
  margin: 0;
}

.form-checkbox__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.form-checkbox__list {
  list-style: none;
}

.form-checkbox__label {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .form-checkbox__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .form-checkbox {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .form-checkbox__list {
    display: flex;
    justify-content: space-between;
  }
}
