.list-benefits {
  list-style: none;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.list-benefits__item {
  min-height: 60px;
  position: relative;
}

.list-benefits__item-description {
  @include main-text;
  position: relative;
  margin: 0;
  padding-left: 81px;
}

.list-benefits__item--nature::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68B738;
  position: absolute;
}

.list-benefits__item--nature::after {
  content: url(../img/icon-leaf.svg);
  position: absolute;
  top: 15px;
  left: 15px;
}

.list-benefits__item--meal::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68B738;
  position: absolute;
}

.list-benefits__item--meal::after {
  content: url(../img/meal.svg);
  position: absolute;
  top: 15px;
  left: 15px;
}

.list-benefits__item--tool::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68B738;
  position: absolute;
}

.list-benefits__item--tool::after {
  content: url(../img/icon-eat.svg);
  position: absolute;
  top: 15px;
  left: 15px;
}


.list-benefits__item--time::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68B738;
  position: absolute;
}

.list-benefits__item--time::after {
  content: url(../img/tool.svg);
  position: absolute;
  top: 15px;
  left: 15px;
}

@media (min-width: $tablet-width) {
  .list-benefits {
    flex-direction: row;
    flex-wrap: wrap;
    counter-reset: features 0;
  }

  .list-benefits__item {
    width: 246px;
    min-height: 280px;
    position: relative;
    margin-right: 98px;
    display: flex;
    flex-direction: column;
  }


  .list-benefits__item-description {
    font-family: $lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    position: relative;
    z-index: 10;
    top: 145px;
    padding: 0;
    max-width: 245px;
  }

  .list-benefits__item--nature {
    counter-increment: features 1;
  }

  .list-benefits__item-description::after {
    content: counter(features);
    font-family: $oswald;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: rgb(242, 242, 242);
    position: absolute;
    left: 140px;
    z-index: -10;
    top: -145px;
  }

  .list-benefits__item--nature::before {
    width: 80px;
    height: 80px;
    background-color: #68B738;
    top: 34px;
  }

  .list-benefits__item--nature::after {
    content: "";
    background-image: url("../img/icon-leaf.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 28px;
    background-position: top;
    position: absolute;
    top: 60px;
    left: 29px;
  }

  .list-benefits__item--meal::before {
    width: 80px;
    height: 80px;
    background-color: #68B738;
    top: 34px;
    left: 20px;
  }

  .list-benefits__item--meal::after {
    content: "";
    background-image: url("../img/meal.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 28px;
    background-position: top;
    position: absolute;
    top: 60px;
    left: 49px;
  }

  .list-benefits__item--meal {
    counter-increment: features 1;
  }

  .list-benefits__item--tool::before {
    width: 80px;
    height: 80px;
    background-color: #68B738;
    top: 48px;
  }

  .list-benefits__item--tool::after {
    content: "";
    background-image: url("../img/icon-eat.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 28px;
    background-position: top;
    position: absolute;
    top: 73px;
    left: 29px;
  }

  .list-benefits__item--tool {
    counter-increment: features 1;
  }

  .list-benefits__item--time::before {
    width: 80px;
    height: 80px;
    background-color: #68B738;
    top: 49px;
    left: 22px;
  }

  .list-benefits__item--time::after {
    content: "";
    background-image: url("../img/tool.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 28px;
    background-position: top;
    position: absolute;
    top: 74px;
    left: 48px;
  }

  .list-benefits__item--time {
    counter-increment: features 1;
  }
}


@media (min-width: $desktop-width) {
  .list-benefits {
    gap: 0;
  }

  .list-benefits__item {
    width: 240px;
    position: relative;
    margin-right: 84px;
  }

  .list-benefits__item br {
    display: none;
  }

  .list-benefits__item:last-of-type {
    margin-right: 0;
  }

  .list-benefits__item-description {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    position: relative;
    z-index: 10;
    max-width: 240px;
    top: 130px;
  }

  .list-benefits__item-description::after {
    left: 115px;
  }

  .list-benefits__item--nature::before {
    top: 18px;
  }

  .list-benefits__item--nature::after {
    top: 44px;
  }

  .list-benefits__item--meal::before {
    top: 18px;
    left: 0px;
  }

  .list-benefits__item--meal::after {
    top: 45px;
    left: 29px;
  }

  .list-benefits__item--tool::before {
    top: 18px;
  }

  .list-benefits__item--tool::after {
    top: 43px;
  }

  .list-benefits__item--time::before {
    top: 18px;
    left: 3px;
  }

  .list-benefits__item--time::after {
    top: 43px;
    left: 31px;
  }

}
