.main-catalog {
  @include center;
  width: 100%;
}

.main-catalog__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

@media (min-width: $tablet-width) {
 .main-catalog {
  width: 100%;
  padding: 0 30px;
 }
}

@media (min-width: $desktop-width) {
  .main-catalog {
   width: 100%;
   padding: 0 55px;
  }

  .main-catalog__wrapper {
    margin: 0 auto;
  }
 }
