.main-header {
  width: 100%;
  position: relative;
}

.main-header__wrapper {
  @include center;
  width: 320px;
  padding: 0 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr;
  grid-auto-rows: minmax(24px, auto);
  min-height: 66px;
}

.main-header__toggle {
  display: block;
  width: 24px;
  height: 16px;
  border: none;
  position: absolute;
  cursor: pointer;
  top: 24px;
  z-index: 2;
  padding: 0;
  background-color: $white;
  right: 113px;
}


.main-header__caption {
  width: 101px;
  height: 18px;
  padding-top: 23px;
}

.main-header__icon {
  width: 33px;
  height: 37px;
  padding-top: 10px;
}

.main-header__link {
  position: relative;
  cursor: pointer;
}

.main-header__link:hover {
  opacity: 0.8;
}

.main-header__link:active {
  opacity: 0.3;
}

.main-header__link::after {
  content: url(../img/caption.svg);
  width: 101px;
  height: 18px;
  position: absolute;
  top: 22px;
  left: 90px;
}

.main-header__logo {
  margin-top: 10px;
}


@media (min-width: $tablet-width) {
  .main-header__wrapper {
    width: 768px;
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    min-height: 52px;
    justify-content: end;
    gap: 95px;
  }

  .main-header__link::after {
    display: none;
  }

  .main-header__toggle {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    display: none;
  }

  .main-header__logo {
    width: 174px;
    height: 52px;
    margin-top: 0;
  }

}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    width: 1330px;
    padding: 0 55px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 202px 2fr;
    gap: 538px;
    min-height: 140px;
  }

  .main-header__logo {
    width: 202px;
    height: 59px;
    padding-top: 53px;
  }


  .main-header__toggle {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
