.main-products__name {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  position: absolute;
  top: -20px;
  position: absolute;
}


.main-products__image-link {
  list-style: none;
  text-decoration: none;
}

.main-products__details {
  font-family: $lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $grey-main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 140px;
  position: relative;
}

.main-products__button {
  margin-bottom: 25px;
}

.main-products__item {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .main-products__image {
    width: 168px;
    height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .main-products__button {
    width: 168px;
    min-height: 40px;
  }
}
