.main-nav {
  font-family: "Osward", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.main-nav__list--opened {
  display: flex;
  flex-direction: column;
}

.main-nav__list--closed {
  display: none;
}

.main-nav__list--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  top: 0;
  right: 0;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 rgb(0, 0, 0) ;
  display: block;
}

.main-nav__list--opened .main-nav__toggle::before,
.main-nav__list--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  top: 0;
  right: 0;

}

.main-nav__list--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-nav__list--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
  box-shadow: none;
}

.main-nav__list {
  list-style: none;
  @include center;
  padding: 0;
  top: 66px;
  left: 0px;
  z-index: 2;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    display: block;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding: 0;
    flex-wrap: wrap;
    background-color: transparent;
    position: unset;
    padding-top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav--index-desktop {
    color: rgb(255, 255, 255);
  }

  .main-nav__list {
    padding-top: 69px;
    padding-bottom: 32px;
  }
}
