@mixin center {
  margin: 0 auto;
}

@mixin main-text {
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $grey-main;
}

@mixin main-title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #000000;
}
