.page__body {
  @include main-text;
  background-color: rgb (255, 255, 255);


}

.page__container {
  padding: 0 20px;
  box-sizing: border-box;

}

@media (min-width: $tablet-width) {
  .page__body {

    @include main-text;

  }

  .page__container {
    padding: 0 30px;
    box-sizing: border-box;

  }

}

@media (min-width: $desktop-width) {
  .page__body {

    @include main-text;
    margin: 0 auto;

  }

  .page__container {
    padding: 0 55px;
    box-sizing: border-box;

  }

}
