.page__body {
  width: 320px;

  @include main-text;
  background-color: rgb (255, 255, 255);
  margin: 0 auto;

}

.page__container {
  padding: 0 20px;
  box-sizing: border-box;

}

@media (min-width: $tablet-width) {
  .page__body {
    width: 768px;

    @include main-text;
    margin: 0 auto;

  }

  .page__container {
    padding: 0 30px;
    box-sizing: border-box;

  }

}

@media (min-width: $desktop-width) {
  .page__body {
    width: 1330px;

    @include main-text;
    margin: 0 auto;

  }

  .page__container {
    padding: 0 55px;
    box-sizing: border-box;

  }

}
