.preview-content {
  margin: 0 auto;
  background-color: $basic-grey;
  width: 320px;
  min-height: 399px;
  box-sizing: border-box;
}

.preview__container {
  width: 280px;
  padding: 0 20px;
}

.preview__info {
  @include main-text;
}

.preview__title {
  @include main-title;
}

.preview__link {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .preview-content {
    margin: 0 auto;
    background-color: $basic-grey;
    width: 708px;
    min-height: 372px;
    box-sizing: border-box;
    position: relative;
  }

  .preview__container {
    width: 708px;
    padding: 0 30px;
  }

  .preview__info {
    font-family: $lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .preview__title {
    font-family: $oswald;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
  }

  .preview__icon {
    width: 200px;
    height: 211px;
    position: absolute;
    top: 81px;
    right: 62px;
  }

}

@media (min-width: $desktop-width) {
  .preview-content {
    margin: 0 auto;
    background-color: $basic-grey;
    width: 570px;
    min-height: 372px;
    box-sizing: border-box;
  }

  .preview {
    display: flex;
  }

  .preview__icon {
    width: 100px;
    height: 106px;
  }
}
