.preview__container {
  padding: 0 20px;
  background-color: #f2f2f2;
  min-height: 266px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;

}

.preview__wrapper {
  padding: 0 20px;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.preview__info {
  @include main-text;
  margin: 0;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 19px;
}

.preview__title {
  @include main-title;
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
  margin-left: 15px;
}

.preview__link {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.preview__icon {
  padding-top: 24px;
  padding-left: 2px;

}

.preview__arrow {
  padding-left: 15px;
}

@media (min-width: $tablet-width) {
   .preview__wrapper {
    padding: 0 30px;
    width: 768px;
    margin: 0 auto;
    box-sizing: border-box;
  }
    .preview__container {
    padding: 77px 62px 53px 52px;
    background-color: #f2f2f2;
    min-height: 372px;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    margin: 0;
    margin-bottom: 30px;
  }


  .preview__info {
    font-family: $lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 52px;
    border: none;
  }

  .preview__title {
    font-family: $oswald;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 24px;
  }

  .preview__icon {
    width: 200px;
    height: 211px;
    position: absolute;
    top: 81px;
    right: 62px;
  }

  .preview__link {
    font-family: $oswald, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  .preview__arrow {
    padding-left: 25px;
  }

}

@media (min-width: $desktop-width) {
  .preview__wrapper {
    padding: 0 55px;
    width: 1330px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
  }

  .preview__container {
    width: 570px;
    min-height: 372px;
  }

  .preview__icon {
    width: 100px;
    height: 106px;
  }
}
