.product-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;

}

.product-list__item {
  border-bottom: 1px solid #d9d9d9;
  min-height: 190px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 11px;
  align-items: center;
}

.product-list__item:last-of-type {
  border-bottom: none;
}

@media (min-width: $tablet-width) {
  .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
  }

  .product-list__item {
    width: 324px;
    min-height: 511px;
    border: none;
    flex-direction: column;
    position: relative;
    z-index: 10;
  }

  .product-list__item::after {
    background-color: #F2F2F2;
    width: 324px;
    content: "";
    position: absolute;
    height: 430px;
    left: 0;
    z-index: -10;
    top: 81px;
  }
}

@media (min-width: $desktop-width) {
  .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .product-list__item::after {
    width: 245px;
  }

  .product-list__item {
    width: 245px;
    min-height: 511px;
    align-items: center;
  }

  .product-list__item:last-of-type {
    border: 1px solid #f2f2f2;
  }
}
