.product-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.product-list__item {
  border-bottom: 1px solid $basic-grey;
  min-height: 190px;
  display: grid;
  grid-template-columns: 140px 140px;
  padding-top: 17px;
}

.product-list__item:last-of-type {
  border-bottom: none;
}


@media (min-width: $tablet-width) {
  .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
  }

  .product-list__item {
    width: 324px;
    min-height: 511px;
    border: none;
    flex-direction: column;
    position: relative;
    z-index: 10;
    display: flex;
    padding-top: 2px;
    margin-bottom: 60px;
  }

  .product-list__item::after {
    background-color: #F2F2F2;
    width: 324px;
    content: "";
    position: absolute;
    height: 430px;
    left: 0;
    z-index: -10;
    top: 67px;
  }

  .product-list__item:last-of-type::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .product-list__item::after {
    width: 245px;
  }

  .product-list__item {
    width: 245px;
    min-height: 511px;
    align-items: center;
  }
}
