.product-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;

}

.product-list__item {
  border-bottom: 1px solid #d9d9d9;
  min-height: 190px;
  display: flex;
  flex-wrap: wrap;
}

.product-list__item:last-of-type {
  border-bottom: none;
}

@media (min-width: $tablet-width) {
  .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
  }

  .product-list__item {
    width: 324px;
    min-height: 511px;
    border: none;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 80px;
  }

  .product-list__item {
    width: 245px;
    min-height: 511px;
  }
}
