.promo {
  position: relative;
  width: 100%;
  min-height: 480px;
  position: relative;
}

.promo::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(to top, rgb(104, 183, 56, 0.85), rgb(104, 183, 56, 0.85)), url("../img/promo-cat.jpg");
  background-position: top;
  background-size: cover, contain;
  background-repeat: no-repeat, no-repeat;
  width: 320px;
  height: 302px;
  z-index: -1;
  right: 0;
  left: 0;
  margin: 0 auto;

}

.promo__wrapper {
  width: 320px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;

}

.promo__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.promo__slogan {
  font-family: $oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: none;
    min-height: 900px;
  }

  .promo::before {
    content: "";
    position: absolute;
    background-image: none;
    width: 768px;
    z-index: -1;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .promo__wrapper {
    width: 768px;
    padding: 0 30px;
    box-sizing: border-box;
    position: relative;

  }

  .promo__image {
    width: 709px;
    height: 609px;
    margin-top: 20px;
  }

  .promo__title {
    font-family: $oswald;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    padding-left: 90px;
  }

  .promo__slogan {
    font-family: $oswald;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding-left: 90px;
  }

  .promo__button {
    position: absolute;
    z-index: 10;
    left: 120px;
    top: 230px;
    width: 244px;
    height: 54px;

}
  }

  @media (min-width: $desktop-width) {
    .promo {
      width: 100%;
      min-height: 696px;
      background-repeat: no-repeat, no-repeat;
      margin: 0 auto;

    }


    .promo__wrapper {
      width: 1330px;
      padding: 0 55px;
      box-sizing: border-box;
      position: relative;

    }

    .promo__image {
      width: 552px;
      height: 499px;
      position: absolute;
      top: -93px;
      right: 253px;
    }


    .promo__title {
      font-family: $oswald;
      font-weight: 400;
      font-size: 60px;
      line-height: 60px;
      color: #000000;
    }

    .promo__slogan {
      font-family: $oswald;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      color: #000000;
    }

    .promo__button {
      position: absolute;
      top: 220px;
      left: 145px;
      z-index: 10;
  }
  }
