.selection-program {
  width: 100%;
  margin: 0 auto;
}

.selection-program__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.selection-program__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.selection-program__text {
  font-family: $oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

@media (min-width: $desktop-width) {
  .selection-program__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }




}
