.selection-program {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 35px;
}

.selection-program__wrapper {
  width: 320px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.selection-program__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 37px;
  border-top: 1px solid #DCDCDC;
}

.selection-program__text {
  font-family: $oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .selection-program {
    width: 100%;
    margin: 0 auto;
  }

  .selection-program__title {
    border: none;
    font-size: 60px;
    line-height: 60px;
    padding-left: 37px;
    padding-top: 62px;
  }

  .selection-program__text {
    font-size: 20px;
    line-height: 30px;
    padding-left: 40px;
    padding-top: 15px;
  }

  .selection-program__wrapper {
    width: 768px;
    padding: 0 30px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .selection-program__form {
    padding-left: 40px;
    padding-top: 30px;
  }
}

@media (min-width: $desktop-width) {
  .selection-program {
    width: 100%;
    margin: 0 auto;
  }

  .selection-program__wrapper {
    width: 1330px;
    padding: 0 55px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .selection-program__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    margin-top: 66px;
    margin-bottom: 61px;
    padding: 0;
  }

  .selection-program__title {
    padding-left: 0px;
    padding-top: 49px;
  }

  .selection-program__text {
    padding-left: 0px;
  }
}
