.site-list__item {
  font-family: $oswald;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  margin: 0;
}

.site-list__item a {
  text-decoration: none;
  color: #000000;
  white-space: nowrap;
  text-transform: uppercase;
}

.site-list__item a:hover {
  opacity: 0.6;
}

.site-list__item a:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    font-family: $oswald;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
    padding: 0;
    border: none;
    width: auto;
    padding-bottom: 10px;
  }


  .site-list__item--current {
    border-bottom: 2px solid $green;
  }

}

@media (min-width: $desktop-width) {
  .site-list__item-desktop-index a {
    color: #ffffff;
}

  .site-list__item-desktop-index--current {
    border-bottom: 2px solid #ffffff;
}

  .site-list__item {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 8px;
}
}
