.socials {
  width: 100%;
  background-color: #f2f2f2;
}

.socials__wrapper {
  padding: 40px 20px;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 240px;
  display: flex;
  flex-direction: column;
}

.socials__logo {
  padding: 0 76px 20px 76px;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
  width: 128px;
  height: 24px;
  fill:#111111;
}

.socials__logo:hover,
.socials__logo:focus {
  fill: #3E3E3E;
}

.socials__logo:active {
  fill: #6B6B6B;
}

.socials__list {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  gap: 28px;
  margin: 0;
  margin-top: 22px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
}

.socials__icon {
  width: 24px;
  height: 19px;
  fill:#666666;
}

.socials__icon:hover,
.socials__icon:focus {
  fill:#68B738;
}

.socials__icon:active {
  opacity: 0.3;
  fill:#68B738;
}


@media (min-width: $tablet-width) {
  .socials__wrapper {
    padding: 0 30px;
    width: 768px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 147px;
  }

  .socials {
    width: 100%;
    background-color: rgb(217, 217, 217);
  }

  .socials__list {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-right: 27px;
  }

  .socials__logo {
    width: 143px;
    height: 26px;
  }

  .socials__icon {
    width: 28px;
    height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .socials__wrapper {
    padding: 0 55px;
    width: 1330px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .socials__logo {
    width: 145px;
    height: 26px;
  }

}
