.socials {
  width: 100%;
  background-color: $white-mix;
}

.socials__wrapper {
  padding: 40px 20px;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  padding-bottom: 56px;
}

.socials__logo {
  width: 128px;
  height: 24px;
  fill: $black-light;
  display: inline-block;
}

.socials__link-logo {
  padding: 0 77px 20px 95px;
  border-bottom: 1px solid $basic-grey;
  text-align: center;
}

.socials__logo:hover,
.socials__logo:focus {
  fill: $silvery;
}

.socials__logo:active {
  fill: $slate-grey;
}

.socials__list {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  gap: 28px;
  margin: 0;
  margin-top: 22px;
  padding-bottom: 15px;
  border-bottom: 1px solid $basic-grey;
}

.socials__icon {
  width: 24px;
  height: 19px;
  fill: $grey-light;
}

.socials__icon:hover,
.socials__icon:focus {
  fill: $green;
}

.socials__icon:active {
  opacity: 0.3;
  fill: $green;
}


@media (min-width: $tablet-width) {
  .socials__wrapper {
    padding: 0 30px;
    width: 768px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 147px;
  }

  .socials {
    width: 100%;
    background-color: $white-mix;
  }

  .socials__list {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-left: 104px;
    border-bottom: none;
  }

  .socials__logo {
    width: 143px;
    height: 26px;
    border-bottom: none;
  }

  .socials__icon {
    width: 28px;
    height: 22px;
  }

  .socials__link-logo {
    padding: 0;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .socials__wrapper {
    padding: 0 55px;
    width: 1330px;
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 169px;
  }

  .socials__logo {
    width: 145px;
    height: 26px;
  }

  .socials__list {
    padding-left: 91px;
    padding-top: 5px;
  }
}
