.stat__wrapper {
  margin: 0 auto;
  min-width: 124px;
  min-height: 70px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.stat__cat-result {
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  color:#000000;
}

.stat__title {
  font-family: $lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $grey-main;
  text-align: center;
  margin: 0;
  max-width: 77px;
  padding-left: 22px;
}

.stat__total-price {
  font-family: $oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;

  @include center;
}

.stat__wrapper::before {
  content: url("../img/weight-stat.svg");
  position: absolute;
}

@media (min-width: $tablet-width) {

  .stat__total-price {
    font-size: 20px;
    line-height: 20px;
    max-width: 174px;
    text-align: end;
    margin: 0;
  }

  .stat__wrapper {
    margin: 0;
}

.stat__cat-result {
  font-family: $oswald;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  margin: 0;
  color: #000000;
}

.stat__wrapper::before {
  content: url("../img/weight-stat-tablet.svg");
}

}
