.stat__wrapper {
  margin: 0;
  min-width: 124px;
  min-height: 56px;
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

.stat__cat-result {
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  padding-bottom: 8px;
}

.stat__title {
  font-family: $lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $grey-main;
  text-align: center;
  margin: 0 auto;
  max-width: 77px;
  margin-bottom: -17px;
  background-color: #EAEAEA;
}

.stat__total-name {
  font-family: $oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding-top: 4px;

  @include center;
}


@media (min-width: $tablet-width) {
  .stat__total-name {
    font-size: 20px;
    line-height: 20px;
    max-width: 174px;
    text-align: end;
    margin: 0;
    padding-left: 122px;
    padding-top: 13px;
  }

  .stat__total-price {
    display: flex;
    flex-direction: column;
  }

  .stat__total-amount {
    font-size: 20px;
    line-height: 20px;
    max-width: 174px;
    text-align: end;
    margin: 0;
    padding-left: 122px;
    padding-top: 13px;
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    padding-top: 9px;
  }

  .stat__wrapper {
    margin: 0;
    width: 162px;
    min-height: 69px;
  }

  .stat__cat-result {
    font-family: $oswald;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    margin: 0;
    color: #000000;
    text-transform: uppercase;
  }

  .stat__title {
    background-color: #ffffff;
    margin-bottom: -5px;
    max-width: 110px;
  }
}

@media (min-width: $desktop-width) {
  .stat__title {
    background-color: #f2f2f2;
    font-size: 14px;
    line-height: 14px;
    max-width: 130px;
    margin-bottom: -26px;
  }

  .stat__wrapper {
    min-height: 72px;
    min-width: 160px;
    justify-content: center;
  }

  .stat__cat-result {
    margin-bottom: 11px;
  }

  .stat__total-price {
    min-width: 436px;
    text-align: start;
    padding: 0;
    margin-top: 17px;
  }
}
