$grey-main: #444444;
$green: #68b738;
$lato: "Lato", "Arial", sans-serif;
$oswald: "Oswald", "Arial", sans-serif;
$basic-grey: #d9d9d9;
$tablet-width: 768px;
$desktop-width: 1330px;
$mobile-width-only: 767px;
$white: #ffffff;
$black: #000000;
$grey-light: #666666;
$green-bright: rgb(94, 170, 47);
$black-additional: #222222;
$soft-grey: rgb(220, 220, 220);

