$grey-main: #444444;
$green: rgb(104, 183, 56);
$lato: "Lato", sans-serif;
$oswald: "Oswald", sans-serif;
$basic-grey: rgb(217, 217, 217);
$description-text: rgb(68, 68, 68);
$tablet-width: 768px;
$desktop-width: 1330px;
$mobile-width-only: 767px;
