@import "./blocks/fonts.scss";
@import "./blocks/mixins.scss";
@import "./blocks/variables.scss";
@import "./blocks/button-primary.scss";
@import "./blocks/button-secondary.scss";
@import "./blocks/main-header.scss";
@import "./blocks/additional-item.scss";
@import "./blocks/additional-list.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/case.scss";
@import "./blocks/catalog-gift.scss";
@import "./blocks/collaboration.scss";
@import "./blocks/copyright.scss";
@import "./blocks/features.scss";
@import "./blocks/footer.scss";
@import "./blocks/form-additional-info.scss";
@import "./blocks/form-checkbox.scss";
@import "./blocks/form-info.scss";
@import "./blocks/form-radio.scss";
@import "./blocks/main-catalog.scss";
@import "./blocks/main-container.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/main-products.scss";
@import "./blocks/page.scss";
@import "./blocks/preview.scss";
@import "./blocks/product-list.scss";
@import "./blocks/promo.scss";
@import "./blocks/selection-program.scss";
@import "./blocks/show-all.scss";
@import "./blocks/site-list.scss";
@import "./blocks/socials.scss";
@import "./blocks/stat.scss";
@import "./blocks/list-benefits.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/form-contact-info.scss";
